# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment folders
/.venv/
/env/
/venv/

# Ignore source data folders
/documentation/
/data/
# Allow Pickle_rick to roam free though
!/data/input/pickle_rick.png


# Ignore IDE and editor-specific files
.idea/
.vscode/
*.lock
*.sublime-project
*.sublime-workspace
poetry.lock


